Traits_Prod/.vs/
Traits_Prod/Foundation/CSHARPStandard.Traits.Business/bin/
Traits_Prod/Foundation/CSHARPStandard.Traits.Business/obj/
Traits_Prod/Foundation/CSHARPStandard.Traits.Data/bin/
Traits_Prod/Foundation/CSHARPStandard.Traits.Data/obj/
Traits_Prod/Foundation/CSHARPStandard.Traits.ProvidersByReflection/bin/
Traits_Prod/Foundation/CSHARPStandard.Traits.ProvidersByReflection/obj/
Traits_Prod/UnitTests/Apps/CSHARPStandard.Traits.Business.Test/bin/
Traits_Prod/UnitTests/Apps/CSHARPStandard.Traits.Business.Test/obj/
Traits_Prod/UnitTests/Apps/CSHARPStandard.Traits.Data.Test/bin/
Traits_Prod/UnitTests/Apps/CSHARPStandard.Traits.Data.Test/obj/
Traits_Prod/UnitTests/Apps/CSHARPStandard.Traits.ProvidersByReflection.Test/bin/
Traits_Prod/UnitTests/Apps/CSHARPStandard.Traits.ProvidersByReflection.Test/obj/
Traits_Prod/UnitTests/Apps/TestTraitsBusiness/bin/
Traits_Prod/UnitTests/Apps/TestTraitsBusiness/obj/
Traits_Prod/UnitTests/Apps/TestTraitsData/bin/
Traits_Prod/UnitTests/Apps/TestTraitsData/obj/
Traits_Prod/UnitTests/Apps/TestTraitsProviderByReflection/bin/
Traits_Prod/UnitTests/Apps/TestTraitsProviderByReflection/obj/
Traits_Prod/UnitTests/UnitTestTraitsCoreConsole/bin/
Traits_Prod/UnitTests/UnitTestTraitsCoreConsole/obj/
Traits_Prod/Foundation/Rwc.Traits.Business/obj/
Traits_Prod/Foundation/Rwc.Traits.Data/obj/
Traits_Prod/Foundation/Rwc.Traits.Data/bin/
Traits_Prod/Foundation/Rwc.Traits.ProvidersByReflection/bin/
Traits_Prod/Foundation/Rwc.Traits.ProvidersByReflection/obj/
